* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px){
    .hamburger {
        width: 48px;
        height: 42px;
        border: 1px solid #eeeeef;
        border-radius: 2px;
        box-shadow: 0 0 2px #eeeeef;
        padding: 10px 10px;
        }

    .hamburger-stripe {
        background-color: #6799ff;
        height: 3px;
        margin-bottom: 5px;
    }
}

/* Add your CSS here */

nav {
    width: 100%;
    height: 25px;
    display: flex;
}

.navbar {
    /* width: 100%; */
    flex: 7;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

.navbar-secondary {
    flex: 3;
    height: 25px;
    /* background-color: black; */
    justify-content: flex-end;

}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.courses {
    display: flex
}

li {
  text-align: center;
  margin: 0 10px 0 10px;
}

li.logo {
    flex: 2;
    min-width: 140px;
}

li.courses {
    flex: 1
}

li.howitworks {
    flex: 1;
    min-width: 100px;
}

li.reviews {
    flex: 1
}

li.reviews {
    flex: 1
}

.noDisplay {
    display: none;
}
/*  ------------------------------------------- */

ul.courses  {
  margin-top: 100px;
  display: flex;
  width: 100vw;
}

ul.howitworks {
  margin-top: 100px;
  display: flex;
  width: 100vw;
}

img {
  width: 75px;
}

span {
  display: block;
}

ul.courses li {
  flex: 3;
}

ul.howitworks  li {
  flex: 3;
}
